body {
    margin: 0;
    background-color: rgb(247, 246, 249);
  }
  
  p {
    padding: 0;
    font-size: 14px;
  }
  
  button {
    border-radius: 4px;
    width: 120px;
    padding: 6px 8px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .wrapper {
    padding: 40px 0;
    background-color: #eeedb4;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .search-form > button {
    /* color: rgb(122, 18, 239); */
    background-color: rgb(209, 209, 131);
  }
  
  .search-form > button:disabled {
    opacity: 1;
    background-color: white;
    /* color: rgb(122, 18, 239); */
    pointer-events: none;
  }
  
  .search-form > button:hover,
  .search-form > button:focus,
  .search-form > button:active {
    background-color: white;
    /* background-color: rgb(239, 240, 214); */
    /* color: white; */
  }
  
  .search-form > input {
    width: 300px;
    border: none;
    /* color: rgb(122, 18, 239); */
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 32px;
    padding: 0;
    margin: 0;
    max-width: calc(100vw - 80px);
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  
  .gallery img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  
  .photo-card {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    transition: transform 250ms ease-out;
    overflow: hidden;
  }
  
  .photo-card:hover {
    transform: scale(1.1);
  }
  
  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 16px;
    text-align: center;
  }
  
  .icon {
    fill: currentColor;
  }